<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<section class ="signup">
    <form action="/sign-up" method="POST">
        <!-- method=POST for creating, GET for getting-->
        <label for="name">Name</label>
            <input type="text" id="name" name="name"/>
        <label for="phone">Phone</label>
            <input type="tel" id="phone" name="mobile" />
        <label for="checkbox"></label>
            <input type="checkbox" id="checkbox" name="formal-name"/>
        <button type="submit">Submit</button>
    </form>
</section>

</body>
</html>